* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}
nav {
    background-color: #FFF;
    top: 0;
    color: #1ac056;
    height: 50px;
    width: 100%;
    position: fixed;
    }

ul {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

li {
    padding: 15px;
    display: inline-block;
    font-size: 18px;
    }

#main-header {
    background: url(img/header-background.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    color: #fff;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Roboto' sans-serif;
    }

span {
    font-weight: 400;
    color: #1ac056;
}

#main-header h1 {
    font-size: 60px;
    font-weight: 100;
}

#main-header h2 {
    font-size: 50px;
}

#about-header h2 {
    display: flex;
    justify-content: center;
}

}
